<?xml version='1.0' encoding='utf-8'?>
<widget id="OBD V2" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>READ IMEI</name>
    <description>
        KPCL
    </description>
    <author>
        Nagarjun
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <plugin name="cordova-plugin-bluetooth-serial" />
	<plugin name="cordova-plugin-imei" />
	<plugin name="cordova.plugins.DeviceInformation"/>
	
	
	<plugin name="cordova-plugin-insomnia" version="4.1.0" source="npm" />
	<plugin name="cordova-plugin-whitelist" source="npm" spec="1.1.0" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
     <access origin="*" /> <!-- Required for iOS9 -->
</widget>
